<div class='container' id="home-container">
  <h1 id='title'>Plant Life</h1>

<div id="create-container" class="container">

  <div class="plant">

    <% for plant_type in @all_plant_types %>
    <div class="plant-info">

    <form action="/plants/plant_type" method="post">
      <label for="plant_type">Plant Type:</label>
 <select name="plant_type">
   <option value="Succulent">Succulent</option>
   </select>
   <input type="submit" value="Select Plant Type">

   <select name="plant_type">
   <option value="Aromatic">Aromatic</option>
   </select>
   <input type="submit" value="Select Plant Type">

   <select name="plant_type">
   <option value="Verigated Leaf"></option>
   </select>
   <input type="submit" value="Select Plant Type">

   <select name="plant_type">
   <option value="Over 50cm"></option>
   </select>
   <input type="submit" value="Select Plant Type">
</form>
