<div class='container' id="home-container">

<h6>The shop inventory pages.   Check stock levels, prices and suppliers.</h6>
    <a href="/nurseries"><img class="home_image" src="/images/nursery.jpg" alt="image of nursery">

<br>
<br>
</div>
