<div class='container' id="home-container">
  <h1 id='title'>Plant Life</h1>

 <h1 id='title'>Inventory pages for Plant Life Shop</h1>
 <br>
 <br>
    <a href="/nurseries"><img class="home_image" src="/images/nursery.jpg" alt="image of nursery">
    <a href="/plants"><img class="home_image" src="/images/plant.jpg" alt="image of plant">

</div>
