<div class='container' id="home-container">
  <h1 id='title'>Plant Life</h1>
  <!-- <img id="hogwarts_logo" src="/images/hogwarts_logo.png" alt="Hogwarts Logo"> -->
 <h1 id='title'>Welcome to the inventory pages for Plant Life</h1>
</div>
