div {
  font-family: helvetica;
}

body {
  color: #667757;
}


a {
  color: #667757;
}

ul {
  text-decoration: none;
}

p {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 15px;

}

.plant_logo {
  height: 250px;
}

.plant_info {
  color: black;
}

.home_image {
  height: 400px;
  margin-left: 150px;
}

#title {
  text-align: center;
  color: #667757;
}

.topnav {
  font-family: helvetica;
  padding: 20px;
  text-decoration: none;
}


.home {
  border: 1px dotted #667757;
  border-radius: 7px;
  padding: 7px;
  justify-content: space-between;
}


.plant-table {
  margin-left: 15px;
  margin-right: 15px;
}

.plant-table td, th {
  border: dotted 1px black;
  min-width: 60px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 7px;
  padding-bottom: 7px;
  }

.plant-table td {
  font-size: 13px;
  text-align: center;
  padding: 8px;
}

.plant-table th {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.plant-table table {
  padding-top: 20px;
  padding-bottom: 20px;
}


.nursery-table td, th {
  border: dotted 1px black;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  width: 140px;
}

.nursery-table table {
  padding-top: 30px;
  padding-bottom: 30px;

}

.nursery-table {
  min-width: 200px;
  margin-left: 15px;
  margin-right: 15px;
}

.nursery-plant-table {
  border: solid 1px black;
  min-width: 500px;
  padding: 30px;
  margin-left: 15px;
}

.nursery-plant-table td {
  padding-left: 20px;
  padding-right: 20px;

}

.plant-table-show {
  font-size: 13px;
  text-align: center;
  padding: 8px;
  margin-left: 20px;
  margin-right: 20px;
}

.plant-table-show td {
  border: dotted 1px black;
  padding-top: 20px;
  padding-bottom: 20px;
}

h1 {
  margin-left: 20px;
  margin-right: 20px;
}

h3 {
  margin-left: 20px;
  margin-right: 20px;
}

h2 {
  margin-left: 20px;
  margin-right: 20px;
}

form {
  margin-left: 20px;
  font-family: helvetica;
  color: #667757;
}

.delete-button {
  color: #667757;
  font-size: 25px;
  margin-left: 20px;
  font-family: helvetica;
}

.add-button {
  border: dotted 1px black;
  width: 150px;
  padding: 15px;
  border-radius: 7px;

}

.plant-selling-points {
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 65px;
  font-style: italic;
  font-size: 18px;

}

.button {
  margin-left: 20px;
  border: 1px solid #c5c5c7;
  padding: 5px;
  border-radius: 5px;
  font-size: 13px;
  text-decoration: none;

}

.plant-name {
  text-align: center;
  padding-top: 80px;
}
