div {
  font-family: helvetica;
}

body {
  color: #667757;
}

table {
  padding-top: 20px;
  padding-bottom: 20px;
}

th {
  text-align: center;
  font-size: 14px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  }

td, th {
  border: solid 1px black;
  }

td {
  font-size: 13px;
  text-align: center;
  padding: 8px;
}

.plant_logo {
  height: 250px;

}

.plant_info {
  color: black;
}

.home_image {
  height: 400px;
  margin-left: 150px;
}

#title {
  text-align: center;
  color: #667757;
}

.topnav {
  font-family: helvetica;
  padding: 20px;
  text-decoration: none;


}

a {
  color: #667757;
}

.home {
  border: 1px solid #667757;
  border-radius: 7px;
  padding: 7px;
  justify-content: space-between;
}

ul {
  text-decoration: none;
}
