<div class='container' id="home-container">
  <h1 id='title'>Plant Life</h1>

<div id="create-container" class="container">

  <h1>Add Nursery</h1>
  <hr/>

  <form action="/nurseries" method="post">
    <label for="name">Name</label>
    <input type="text" name="name">

    <label for="location">Location</label>
    <input type="text" name="location">

        <input type="submit" value="Save">
      </form>
    </div>


  
